//dimensions
$headerHeight: 100px;
$footerHeight: 100px;
$spacing30: 30px;

//colors
$base-font-color: #803b87;

//font sizes
$font-small: 16px;
$font-medium: 20px;

//font weight
$font-weight-medium: 500;
