@use "values";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  nav {
    @extend %navbar-shared;

    .logoContainer {
      width: fit-content;
      @extend %commonFlexProperties;

      h1 {
        color: values.$base-font-color;
        font-size: values.$font-30;
      }
    }

    #navLinksContainer {
      width: fit-content;
      display: flex;
      justify-content: flex-end;
      gap: values.$spacing30;

      .navLink {
        @extend %commonLinksStyles;
        font-size: values.$font-medium;
      }
    }
  }
}

main {
  width: 100%;
  height: calc(100vh - (values.$headerHeight + values.$footerHeight));
  position: relative;

  img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: 0 100%;
  }

  #overlay-parent-container {
    width: 100%;
    height: 100%;
    @extend %commonPositioning;

    #opacityContainer {
      width: 100%;
      height: 100%;
      background-color: values.$overlay-color;
      opacity: 60%;
    }
  }
}

footer {
  width: 100%;
  height: values.$footerHeight;
  @extend %commonFlexProperties;
  color: values.$base-font-color;
  font-size: values.$font-small;
}
